a {
    color: inherit !important; /* Inherit the color from the parent element (typically black) */
    text-decoration: none !important; /* Remove underlines */
  }
.navbar{
    background-color: #FFF;
    color: var(--text-text-gray-dark, #292B2E);
    align-content: flex-start;
    margin-top: 20px;
    margin-left: 30px;
    margin-right:30px;
    margin-bottom: 20px;

}
.container-fluid{
    padding: auto;
    display: flex;
    align-items: flex-start !important;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-start;
}

.rectangle{
    width: 27px;
    height: 9px;
    border-radius: 4.5px;
    background: linear-gradient(96deg, #E537B9 0%, #C040DF 100%);
}
.navbar-brand{
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 104.348% */
    letter-spacing: 2px;
}
#subheading{
    color: #858585;
}
/* Make the accordion-header use flexbox and align items to the center */

/* .accordion-button:after {
    order: -1; 
    margin-left: 0; 
    margin-right:0.5em; 
} */
.accordion-button {
    /* justify-content: start;  */
    /* flex-direction: row-reverse;  */
    /* padding-left: 0px !important; */
    position: relative;
    padding-left: 3rem !important;
}

.accordion-button::after {
    position: absolute;
    left: 1rem;
 }

.accordion-button::before {
    margin-left: 0.75rem; 
    margin-right: 0;      /* Remove the margin from the right side of the arrow */
}

